@charset "utf-8";
.light {
	height: 100%;
	width: 80%;
	margin-left: 10%;
	margin-top: 0%;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .light {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
	height: 60%;
	margin-top: 20%;
	margin-left: 0%;
  }
}
